.partners-section {
    position: relative;
    text-align: center;
    justify-content: center;

    &__title {
        margin-bottom: 28px;
    }

    &__subtitle {
        margin-bottom: 0;
    }

    &__text_content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__logos {
        display: flex;
        justify-content: center;
        align-items: center;

        &__image_list {
            display: flex;
            gap: 74px;
            margin-left: 200px;
        }

        &__app_pict {
            width: 60px;
            height: 60px;
            margin-bottom: 0;
        }
    }

    &__image_list1 {
        display: flex;
    }

}

.partners-section__links {
    display: flex;
    justify-content: center;
}

.partners-button {
    display: flex;
    height: 52px;
    padding: 10px 30px;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.partners-images {
    display: flex;
    margin-left: 0;
    margin-right: 0;
    padding: 50px 20px;
    width: 1579px;
    align-items: center;
    gap: 50px;
}