.testimonials-cards {
    display: flex;
    gap: 23px;
    margin-top: 20px;

    &__title {
        text-align: center;
    }

    &__card {
        display: flex;
        padding: 0;
        flex-direction: column;

        &--title {
            text-align: left;
            padding: 40px;
        }

        &--subtitle {
            display: flex;
            text-align: left;
        }

        &--link {
            display: flex;
            font-family: Work Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.2px;
        }

        &--client {
            display: flex;
            border-radius: 10px;
            border: 1px solid #DEDEDE;
            width: 430px;
            height: 300px;

            &-avatar {
                display: flex;
                width: 50px;
                height: 50px;
                flex-shrink: 0;
                border-radius: 50px;
                padding: 40px;
            }
        }

        &--paragraphe {
            position: absolute;
            display: flex;
            width: 430px;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.2px;
            text-align: left;
            padding: 40px;
            margin-top: 70px;
        }

    }
}